# secrets
.env
.env.old
.env.next
.env.astro
CLAUDE.md

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
scripts/test*
tb*

# astro
.astro/*
dist/

# production
/build

# misc
.DS_Store
*.pem

# node version
!/.nvmrc

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
sw.js
sw.js.map
workbox-*.js
workbox-*.js.map
fallback-*.js
index.html

# sitemaps
robots.txt
sitemap*.xml*

# bundle-analyzer
analyze
.next/
