@import "mapbox-gl/dist/mapbox-gl.css";

@import "@govtechmy/myds-style/color.css";

/* Import Light theme */
@import "@govtechmy/myds-style/light.css";

/* Import Dark theme */
@import "@govtechmy/myds-style/dark.css";

/* TAILWIND CSS */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


/* MODULE CSS */
/* @import "./dashboards/general.css";
@import "./dashboards/table.css";
@import "./markdown.css";
@import "leaflet.markercluster";
@import "leaflet.markercluster/dist/MarkerCluster.css";
@import "leaflet.markercluster/dist/MarkerCluster.Default.css"; */


/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #18181b;
}

.dark .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: rgb(255, 255,255);
}
.mapboxgl-popup-content {
  background: #18181b;
  padding: 0;
}

.dark .mapboxgl-popup-content {
  background: rgb(255, 255,255);
}

/* Hides outline for GeoChoropleth onclick */
/* g:focus {
  outline: none;
}

path:focus {
  outline: none;
}

:focus-visible {
  outline: unset;
}

.leaflet-pane,
.leaflet-top,
.leaflet-bottom {
  @apply z-0;
} */

/* Mobile nav: thinner icon strokes for a more refined look */
@media (max-width: 1023px) {
  .nav-mobile-menu .nav-mobile-icon svg,
  .nav-mobile-menu .nav-mobile-icon path,
  .nav-mobile-menu .nav-mobile-icon line,
  .nav-mobile-menu .nav-mobile-icon circle,
  .nav-mobile-menu .nav-mobile-icon rect,
  .nav-mobile-menu .nav-mobile-icon polyline,
  .nav-mobile-menu .nav-mobile-icon polygon,
  .nav-mobile-menu .nav-mobile-icon ellipse,
  .nav-mobile-menu .nav-mobile-icon [stroke],
  .nav-mobile-menu .nav-mobile-icon g path,
  .nav-mobile-menu .nav-mobile-icon g line,
  .nav-mobile-menu .nav-mobile-icon g [stroke] {
    stroke-width: 1.25px !important;
  }
}

/* MapPlot Popup Marker */
/* .leaflet-popup-content {
  width: fit-content !important;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
  @apply whitespace-pre font-mono text-xs;
} */
